
img{

	max-width: 100%;
}

.quitFloat{
	float: none;
}

.HeadSpace{
	margin-top: 100px;
}

.pacifico{
	font-family: 'Pacifico', cursive;
}

.h2Att{
	font-size: 2em;
	font-family: 'Lato', sans-serif;
}
.Lato{
	font-size: 1.5em;
	font-family: 'Lato', sans-serif;
}


a{
	color:#009FFF;
}

.space{

	margin-right: 1em;
}
.no-lista{
	margin:0px;
	padding: 0px;

}
.no-lista li{
	list-style-type: none;
}
.clr{
	background-color:#eee;
}
.pdd{
	padding: 5px 10px;
}
.inline-block{
	float:none;
	display: inline-block;
	margin-right: -4px;
}

.grande{
	font-size: 3em;
}
#color-menu{

	background-color: #efe4c1;
}
